
<footer class="vlt-footer vlt-footer--style-1 vlt-footer--fixed somoskolibri_footer">
    <div class="container">
        <div class="text-center">
            <!--Logo-->
            <a class="vlt-footer-logo" href="index.html"><img src="assets/images/logoSomosKolibriBlancov2.png" alt="" style="height: 100px;"></a>
            <!--Copyright-->
            <div class="vlt-footer-copyright">
                <p>&copy; 2026 SomosKolibri SAS Ecuador - Todos los derechos reservados.</p>
            </div>
            <!--Socials-->
            <div class="vlt-footer-socials vlt-footer-socials--style-1">
                <a class="vlt-social-icon vlt-social-icon--style-2" href="https://www.facebook.com/people/SomosKolibri/61553971071948/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="vlt-social-icon vlt-social-icon--style-2" href="https://www.youtube.com/@somoskolibri" target="_blank"><i class="fa fa-youtube"></i></a>
                <a class="vlt-social-icon vlt-social-icon--style-2" href="https://www.tiktok.com/@somoskolibri" target="_blank"><img src="assets/images/icon_tiktok.webp" style="height: 18px;"></a></a>
                <a class="vlt-social-icon vlt-social-icon--style-2" href="https://github.com/somoskolibri" target="_blank"><i class="fa fa-github"></i></a>
                <a class="vlt-social-icon vlt-social-icon--style-2" href="https://www.instagram.com/somoskolibri/" target="_blank"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>