
<footer class="vlt-footer vlt-footer--style-1 vlt-footer--fixed somoskolibri_footer">
    <div class="container">
        <div class="text-center">
            <!--Logo-->
            <!--Copyright-->
            <div class="vlt-footer-copyright">
                <p>&copy; 2026 SomosColibri - Todos los derechos reservados.</p>
                <p>tumejorversion@somoskolibri.com </p>
            </div>
            <!--Socials-->
            <div class="vlt-footer-socials vlt-footer-socials--style-1">
                <!--<a class="vlt-social-icon vlt-social-icon--style-2" href="https://www.facebook.com/people/SomosKolibri/61553971071948/" target="_blank"><i class="fa fa-facebook"></i></a>-->
                <!--<a class="vlt-social-icon vlt-social-icon--style-2" href="https://www.youtube.com/@somoskolibri" target="_blank"><i class="fa fa-youtube"></i></a>-->
                <!--<a class="vlt-social-icon vlt-social-icon--style-2" href="https://www.tiktok.com/@somoskolibri" target="_blank"><img src="assets/images/icon_tiktok.webp" style="height: 18px;"></a></a>-->
                <a class="vlt-social-icon vlt-social-icon--style-2" href="https://www.instagram.com/somoskolibri/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a class="vlt-social-icon vlt-social-icon--style-2" href="https://www.linkedin.com/company/somoskolibri/" target="_blank"><img src="assets/images/icon_linkedin.png" style="height: 18px;"></a></a>
                <a class="vlt-social-icon vlt-social-icon--style-2" href="https://github.com/somoskolibri" target="_blank"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>