<!--Header-->
<div >
    <div class="d-none d-lg-block">
        <header class="vlt-header vlt-header--default vlt-header--opaque">
            <div class="vlt-navbar vlt-navbar--main vlt-navbar--sticky vlt-navbar--hide-on-scroll">
                <div class="container">
                    <div class="vlt-navbar-inner">
                        <div class="vlt-navbar-inner--left">
                            <!--Logo-->
                            <a class="vlt-navbar-logo" href="index.html">
                                <img class="black" src="assets/images/LogoSomosKolibriConLema.png" alt="" style="height: 50px;">                                    </a>
                        </div>
                        <div class="vlt-navbar-inner--right">
                            <div class="d-flex align-items-center">
                                <!--Navigation-->
                                <nav class="vlt-default-navigation">
                                    <!--Menu-->
                                    <ul class="sf-menu" id="menu">
                                        {% for item in site.data.navigation %}
                                            <li class="nav-item">
                                                <a href="{{ item.link }}" class="nav-link {% if page.url == item.link %}active{% endif %}">{{ item.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="d-lg-none d-sm-block">
        <header class="vlt-header vlt-header--opaque vlt-header--mobile">
            <nav class="vlt-navbar vlt-navbar--mobile">
                <div class="container">
                    <div class="vlt-navbar-inner no-gutters">
                        <div class="col text-left"><a class="vlt-menu-burger" href="#" id="vlt-mobile-menu-toggle"><span class="line line-one"><span></span></span><span class="line line-two"><span></span></span><span class="line line-three"><span></span></span></a></div>
                        <div class="col text-center">
                            <!--Logo--><a class="vlt-navbar-logo" href="index.html"><img src="assets/images/LogoSomosKolibriConLema.png" alt="" style="height: 50px;"></a>
                        </div>
                        <div class="col text-right"><a class="vlt-menu-shop-cart" href="shop-cart.html"><!--<i class="leedo-paper-bag"></i><span>0</span>--></a></div>
                    </div>
                </div>
            </nav>
            <!--Navigation-->
            <nav class="vlt-mobile-navigation">
                <div class="container">
                    <!--Menu-->
                    <ul class="sf-menu" id="menuMobile">
                        {% for item in site.data.navigation %}
                            <li>
                                <a href="{{ item.link }}" class="nav-link {% if page.url == item.link %}active{% endif %}">{{ item.name }}</a>
                            </li>
                        {% endfor %}
                        
                    </ul>
                </div>
            </nav>
        </header>
    </div>
</div>