---
---

#menu .nav-link.active, #menuMobile .nav-link.active{
  color: #ee3364 ;
  font-weight: bold;
}

.somoskolibri_green{
  color:#00d876;
}

.somoskolibri_gray{
  color: #393839;
}

.customers_height{
  height: 90px;
}

.hidden {
  display: none;
}

.somoskolibri_footer{
  background-image: url('../images/footer_background.png');
}

//Para la pagina de programas empresas cree un boton redondo para enviar a whatsapp
.icon-circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ee3364; /* color del círculo */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.icon-circle i {
  color: #fff; /* color del ícono */
  margin-left: 5px;
}

/* Hover */
.icon-circle:hover {
  background-color: #00d876; /* color hover */
}


#planes_introduccion p{
  text-align: justify;
}


//-----------Sobreescribiendo clases de la plantilla comprada

//Para el index, la primer sección, para que el botón cambie
.vlt-btn--primary:not(.vlt-btn--effect):hover
{
    background-color: #00d876;
}
.vlt-btn--primary::after
{
    background-color: #00d876;
}

//Para el index, la sección donde estan las cifras
.vlt-progress-bar__bar span{
  background-color: #ee3364;
}

//Para la página de programas empresariales 
.vlt-large-heading
{
    font-size: 70px;
}

@media (max-width: 767px)
{
    .vlt-large-heading
    {
        font-size: 50px;
    }
}
@media (max-width: 575px)
{
    .vlt-large-heading
    {
        font-size: 38px;
    }
}

//PAGINA DE PLANES
@media (max-width: 767px)
{
    .vlt-single-post__header--style-1 .vlt-post-title,
    .vlt-single-post__header--style-2 .vlt-post-title
    {
        font-size: 38px;
    }
}

//Para el slide de testimonios 
.vlt-testimonial-slider--style-1 .vlt-swiper-pagination
{
    margin-top: 10px;
}

//Para la sección de life coaches, que se vea el icono de instagram

#planes_lifecoaches a
{
    font-size: 0; 

    position: relative;

    display: block;

    padding-top: 100%;
}

#planes_lifecoaches a::after,
#planes_lifecoaches a::before
{
    position: absolute;
    top: 0;
    left: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out; 
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    -webkit-transition-property: all;
            transition-property: all;

    opacity: 0;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}


#planes_lifecoaches a::before
{
    opacity: 0;
    background-color: #00bec5;
}
#planes_lifecoaches a::after
{
    font-family: FontAwesome;
    font-size: 35px;

    content: '\f0e1'; //linkedin
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%); 

    color: #fff;
}

#planes_lifecoaches a img
{
    font-family: 'object-fit: cover;';

    position: absolute;
    z-index: -1; 
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -o-object-fit: cover;
       object-fit: cover;
}

#planes_lifecoaches a:hover::before
{
    opacity: .8;
}

#planes_lifecoaches a:hover::after
{
    -webkit-transition-delay: 100ms;
            transition-delay: 100ms; 
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);

    opacity: 1;
}


