---
---

#menu .nav-link.active, #menuMobile .nav-link.active{
  color: #ee3364 ;
  font-weight: bold;
}

.somoskolibri_green{
  color:#00d876;
}

.somoskolibri_gray{
  color: #393839;
}

.customers_height{
  height: 90px;
}

.hidden {
  display: none;
}

.somoskolibri_footer{
  background-image: url('../images/footer_background.png');
}

//Para la pagina de programas empresas cree un boton redondo para enviar a whatsapp
.icon-circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ee3364; /* color del círculo */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

.icon-circle i {
  color: #fff; /* color del ícono */
  margin-left: 5px;
}

/* Hover */
.icon-circle:hover {
  background-color: #00d876; /* color hover */
}


//-----------Sobreescribiendo clases de la plantilla comprada

//Para el index, la primer sección, para que el botón cambie
.vlt-btn--primary:not(.vlt-btn--effect):hover
{
    background-color: #00d876;
}
.vlt-btn--primary::after
{
    background-color: #00d876;
}

//Para el index, la sección donde estan las cifras
.vlt-progress-bar__bar span{
  background-color: #ee3364;
}

//Para la página de programas empresariales 
.vlt-large-heading
{
    font-size: 70px;
}

@media (max-width: 767px)
{
    .vlt-large-heading
    {
        font-size: 50px;
    }
}
@media (max-width: 575px)
{
    .vlt-large-heading
    {
        font-size: 38px;
    }
}
